<div id="lista">
    <div id="lista1">
    <ul *ngFor="let item of Lista; let i=index">
        <li class="nota" id="iniciado" *ngIf="item.estado=='Iniciada' ">
            <button>{{item.titulo}}</button> <button id="eliminar" (click)="eliminarnota(i)">X</button>
        </li>
    </ul>
    </div>
    
    <div id="lista2">
    <ul *ngFor="let item of Lista" >
        <li class="nota" id="enproceso" *ngIf="item.estado=='En proceso'">
            <p>{{item.titulo}}</p>
        </li>
    </ul>
    </div>    

    <div id="lista3">
    <ul *ngFor="let item of Lista" >
        <li class="nota" id="finalizado" *ngIf="item.estado=='Finalizada'">
            <p>{{item.titulo}}</p>
        </li>
    </ul>
    </div>

</div>