#iniciado{
    background-color: red;
    width: fit-content;
}

#enproceso{
    background-color: yellow;
    width: fit-content;
}

#finalizado{
    background-color: green;
    width: fit-content;
}

ul{
    
}