#container{
    
    display:inline-flex;
}

#titulo{
    font-size:25px;
    font-weight: bold;
}

#semaforo{
    display: flex;
}


img{
    width: 40px;
}

#color{
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}