<form [formGroup]="formulario" id="formulario">
    <ul>
        <li>
            <label for="titulo">
                Titulo
            </label>
             <input id="titulo" formControlName="titulo" type="text">

        </li>

        <li>
            <label for="estado">
                Estado
            </label>
            <select id="estado" formControlName="estados" required>
                <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
            </select>
        </li>

        <li>
            <button type="submit" [routerLink]="['/lista']" routerLinkActive="router-link-active" (click)="agregarNota()" (click)="display=true">Crear</button>
            <button id="limpiar" (click)="limpiarDatos()" >Cancelar</button>
        </li>
    </ul>
</form>


<div *ngIf="display">
<app-listanotas></app-listanotas>
</div>

